@font-face {
  font-family: "lg-pc";
  src: url(../font/LG\ PC.ttf);
}

* {
  font-family: "lg-pc";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form-box {
  padding: 0 30px;
  min-height: 530px;
  position: static;
}

.titleBox {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.titleBox h1 {
  color: #353535;
}

.field {
  padding-top: 22px;
}

#username {
  float: left;
  width: 320px;
  height: 44px;
  padding: 12px 12px 12px 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fafafa;
  font-size: 16px;
  font-weight: 600;
  color: #353535;
  line-height: 20px;
  letter-spacing: -.5px;
}

.btn-send {
  float: right;
  right: 0;
  top: 0;
  width: 100px;
  border: 2px solid #C7DFAA;
  background-color: #C7DFAA;
  font-weight: 600;
  color: #353535;
  height: 44px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 42px;
  margin-left: 10px;
}

#email {
  width: 430px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #353535;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 12px 12px 12px 15px;
  font-size: 16px;
  font-weight: 600;
}

.field input:focus {
  outline-color: #0FA958;
  border: 0px;
}

button {
  cursor: pointer;
}

.pwd-txt {
  text-align: center;
}

.find-pwd {
  color: #0FA958;
  font-weight: 600;
}