<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>
<h1>상품 등록 페이지</h1>
    <form th:action="@{/element_regist/product}" enctype="multipart/form-data" method="post">
        <label for="">이름</lael>
        <input type="text" name="name"><br>
        <label for="">Image File</label>
        <input type="file" name="image" multiple><br>
        <label for="">가격</label>
        <input type="number" name="price"><br>
        <label for="">단위</label>
        <input type="text" name="unit"><br>
        <label for="">원재료및함량</label>
        <textarea name="materialAndContent"></textarea><br>
        <label for="">알러지</label>
        <textarea name="allergy"></textarea><br>
        <hr>
        <label for="">중량</label>
        <input type="number" step="0.001" name="weight"><br>
        <label for="">kcal</label>
        <input type="number" step="0.001" name="kcal"><br>
        <label for="">탄수화물</label>
        <input type="number" step="0.001" name="carbs"><br>
        <label for="">단백질</label>
        <input type="number" step="0.001" name="protein"><br>
        <label for="">지방</label>
        <input type="number" step="0.001" name="fat"><br>
        <label for="">포화지방</label>
        <input type="number" step="0.001" name="saturated_fat"><br>
        <label for="">콜레스테롤</label>
        <input type="number" step="0.001" name="cholesterol"><br>
        <label for="">나트륨</label>
        <input type="number" step="0.001" name="salt"><br>
        <hr>
        <label for="">용량</label>
        <input type="text" name="volume"><br>
        <label for="">주의사항</label>
        <textarea name="explanation"></textarea><br>
        <label for="">식품유형</label>
        <input type="text" name="foodType"><br>
        <label for="">유통기한</label>
        <input type="text" name="expirationDate"><br>
        <label for="">포장재질</label>
        <input type="text" name="packageMaterial"><br>
        <label for="">칼로리</label>
        <input type="number" name="calorie"><br>
        <label for="">보관방법</label>
        <input type="text" name="storageMethod"><br>
        <label for="">카테고리</label>
        <input type="text" name="category"><br>
        <label for="">배송방법</label>
        <input type="text" name="shippingMethod"><br>
        <label for="">용기</label>
        <input type="text" name="bowl"><br>
        <hr>
        <label for="">리뷰수</label>
        <input type="number" value='0' name="reviewCount"><br>
        <label for="">평점평균</label>
        <input type="number" value='0' name="avg"><br>
        <button type="submit">Submit</button>
    </form>