<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>활동지수페이지</title>
  <link rel="stylesheet" th:href="@{css/active_page.css}">
  <script th:src="@{js/jquery-3.6.1.min.js}"></script>
</head>
<body>
  <div class="input-form-wrap">
    <div class="input-form-box">
      <div class="title-wrap">
        <h2>활동지수 참고사항</h2>
      </div>
      <div class="main-wrap">
        <p>아래 사진을 참고하여 활동지수 칸에 숫자를 입력해주세요</p>
        <img src="images/active.jpg" alt="활동지수설명">
      </div>
    </div>
  </div>
</body>
</html>