<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>장바구니페이지</title>
  <link rel="stylesheet" th:href="@{css/cart.css}">
  <style>
  </style>
  <script th:inline="javascript">
    window.onload=function() {
      console.log(/*[[${list}]]*/);
    }
  </script>
</head>
<body>
  <div id="container">
    <form>
      <div class="titleBox">
        <h1 class="title-text">장바구니</h1>
      </div>
      <main class="cart-body">
        <section class="cartBox">
          <header class="cart-header">
            <div class="header-left">
              <div class="check-all">
                <input type="checkbox" id="header-check-all" class="check-all-1" name="check-all" value="check-all">
                <label for="header-check-all" class="check-all-label txt">전체 선택</label>
              </div>
              <div class="txt">상품 정보</div>
            </div>
            <div class="header-right">
              <div class="quantity txt">수량</div>
              <div class="price txt">가격</div>
            </div>
          </header>
          <main class="cart-main">
            <ul class="table-list">
              <li class="table-item" th:each="item:${list}" >
                <section class="table-item-left">
                  <div>
                    <input type="checkbox" name="selected-item" id="table-item-checkbox-0" class="table-item-checkbox" value="0000">
                    <label for="table-item-checkbox-0" class="table-item-checkbox-label"></label>
                  </div>
                  <div class="table-item-img-wrap">
                    <a href="#"><img th:src="|/beonadiet/display?fileName=${item.image.getImageURL()}|"></a>
                  </div>
                  <div class="table-item-title">
                    <a href="#" th:text="${item.itemName}"></a>
                  </div>
                </section>
                <section class="table-item-right">
                  <div class="my-list-wrap">
                    <button type="button">나만의 조합</button>
                  </div>
                  <div class="table-item-spinner-wrap">
                    <nav class="form-number">
                      <button type="button" id="down" class="down" title="감소"></button>
                      <input type="text" name="num" id="num" class="number-text num" th:value="${item.productCount}">
                      <button type="button" id="up" class="up" title="증가"></button>
                    </nav>
                  </div>
                  <div class="item-total-price" th:text="${item.itemPrice}">
                  </div>
                </section>
              </li>
            </ul>
          </main>
          <footer class="table-footer">
            <div class="table-footer-left">
              <div class="check-all">
                <input type="checkbox" id="footer-check-all" class="check-all-2" name="check-all" value="check-all" checked>
                <label for="footer-check-all" class="check-all-label txt">전체 선택</label>
              </div>
              <div class="table-btns-wrap">
                <div class="table-btn-wrap">
                  <button class="table-btn">
                    <span class="button-wrap">선택 삭제</span>
                  </button>
                </div>
                <div class="table-btn-wrap">
                  <button class="table-btn">
                    <span class="button-wrap">전체 삭제</span>
                  </button>
                </div>
              </div>
            </div>
          </footer>
        </section>
      </main>
      <footer class="footer-box">
        <section class="footer-price-wrap">
          <div class="price-content-wrap">
            <div class="price-box">
              <div class="price-top">상품 금액</div>
              <div class="price-bottom"> 0원</div>
            </div>
            <div class="icon-wrap">
              <img src="images/minus.png" alt="빼기 아이콘" class="footer-icon">
            </div>
            <div class="price-box">
              <div class="price-top">할인 금액</div>
              <div class="price-bottom"> 0원</div>
            </div>
            <div class="icon-wrap">
              <img src="images/equal.png" alt="등호 아이콘" class="footer-icon">
            </div>
            <div class="price-box">
              <div class="price-top">결제 예상 금액</div>
              <div class="price-bottom-discounted"> 0원</div>
            </div>
          </div>
        </section>
        <section class="footer-btn-wrap">
          <button type="button" class="footer-btn">
            <span class="btn-order">주문하기</span>
          </button>
        </section>
      </footer>
    </form>
  </div>
  <script th:src="@{js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{js/cart.js}"></script>
</body>
</html> 