<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인페이지</title>
  <link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>
  <div id="container">
    <div class="contents">
      <div class="login-box">
        <div>
          <h1 class="title_login">로그인</h1>
        </div>
        <form id="signin" action="/login" method="post">
          <!-- <div th:if="${param.error}" class="alert alert-error">    
            Invalid username and password.
          </div>
          <div th:if="${param.logout}" class="alert alert-success"> 
              You have been logged out.
          </div> -->
          <div>
            <input type="text" name="user_id" id="username" class="id_box" placeholder="아이디 입력" required>
            <!-- <input type="text" name="username" id="username" class="id_box" placeholder="아이디 입력" required> -->
          </div>
          <div>
            <input type="password" name="password" id="password" class="pw_box" placeholder="비밀번호 입력" required>
          </div>
          <div class="find_info">
            <a href="javascript:;" class="find_id">아이디찾기</a>
            <a href="javascript:;" class="find_pw">비밀번호찾기</a>
          </div>
          <div>
            <button class="btn btn_login" type="submit">로그인</button>
          </div>
          <div>
            <button class="btn btn_join" type="button">회원가입</button>
          </div>

          <div id="login-failed" style="display: none;" class="alert alert-danger" role="alert">
            로그인에 실패하였습니다.</div>

          <div>
            <p class="sns_login">간편 로그인</p>
            <div>
              <a href="#"><img src="images/btn_google_signin_light_normal_web@2x.png" alt="google-login"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script th:src="@{js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{js/login.js}"></script>
</body>
</html>