<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
  <title>찜목록페이지</title>
  <link rel="stylesheet" th:href="@{css/pick_list.css}">
  <script th:src="@{js/jquery-3.6.1.min.js}"></script>
  <script>          
  </script>
</head>
<body>
  <div id="container">
    <div class="pick-list-wrap">
      <div class="pick-list-box">
        <!-- 타이틀 -->
        <div class="titleBox">
          <span class="titleText">
            찜목록
          </span>
        </div>
        <!-- 주문 목록 -->
        <div class="list-content-area">
          <main class="cart-main">
            <ul class="table-list">
              <li class="table-item">
                <section class="table-item-left">
                  <div class="table-item-img-wrap">
                    <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/freshcode/menu/origin/790_20220607123105.jpg" alt="주문목록 이미지" class="table-item-img"></a>
                  </div>
                  <div class="table-item-title">
                    <a href="#">홀그레인 로스트비프 바게트 샌드</a> 
                    <div class="item-price-quantity">
                      <span class="item-price">7,500원</span>
                    </div>
                  </div>
                </section>
                <section class="table-item-right">
                  <div class="my-list-wrap">
                  </div>
                  <div class="item-btn-wrap">
                    <div class="item-btn">
                      <button type="button" class="item-btn-remove">
                        삭제
                      </button>
                    </div>
                    <div>
                      <button type="button"  class="item-btn-add">
                        <div>
                          <iconify-icon icon="ant-design:shopping-cart-outlined" style="color: #0fa958;" width="15" height="15"></iconify-icon>
                        </div>
                        <div class="space">
                          담기
                        </div>  
                      </button>
                    </div>
                  </div>
                </section>
              </li>
              <li class="table-item">
                <section class="table-item-left">
                  <div class="table-item-img-wrap">
                    <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/freshcode/menu/origin/495_20211214115950" alt="주문목록 이미지" class="table-item-img"></a>
                  </div>
                  <div class="table-item-title">
                    <a href="#">케이준 치킨 샐러드랩 / [샐랩 쿠키세트] 샐랩+오렌지 블랙티 쿠키+슈가로로</a> 
                    <div class="item-price-quantity">
                      <span class="item-price">10,200원</span>
                    </div>
                  </div>
                </section>
                <section class="table-item-right">
                  <div class="my-list-wrap">
                  </div>
                  <div class="item-btn-wrap">
                    <div class="item-btn">
                      <button type="button" class="item-btn-remove">
                        삭제
                      </button>
                    </div>
                    <div>
                      <button type="button"  class="item-btn-add">
                        <div>
                          <iconify-icon icon="ant-design:shopping-cart-outlined" style="color: #0fa958;" width="15" height="15"></iconify-icon>
                        </div>
                        <div class="space">
                          담기
                        </div>    
                      </button>
                    </div>
                  </div>
                </section>
              </li>
              <li class="table-item">
                <section class="table-item-left">
                  <div class="table-item-img-wrap">
                    <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/freshcode/menu/origin/17_20220530180436.jpg" alt="주문목록 이미지" class="table-item-img"></a>
                  </div>
                  <div class="table-item-title">
                    <a href="#">치킨 타코 샐러드</a>
                    <div class="item-price-quantity">
                      <span class="item-price">8,900원</span>
                    </div>
                  </div>
                </section>
                <section class="table-item-right">
                  <div class="my-list-wrap">
                    <button type="button">나만의 조합</button>
                  </div>
                  <div class="item-btn-wrap">
                    <div class="item-btn">
                      <button type="button" class="item-btn-remove">
                        삭제
                      </button>
                    </div>
                    <div>
                      <button type="button"  class="item-btn-add">
                        <div>
                          <iconify-icon icon="ant-design:shopping-cart-outlined" style="color: #0fa958;" width="15" height="15"></iconify-icon>
                        </div>
                        <div class="space">
                          담기
                        </div>    
                      </button>
                    </div>
                  </div>
                </section>
              </li>
              <li class="table-item">
                <section class="table-item-left">
                  <div class="table-item-img-wrap">
                    <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/freshcode/menu/origin/790_20220607123105.jpg" alt="주문목록 이미지" class="table-item-img"></a>
                  </div>
                  <div class="table-item-title">
                    <a href="#">홀그레인 로스트비프 바게트 샌드</a> 
                    <div class="item-price-quantity">
                      <span class="item-price">7,500원</span>
                    </div>
                  </div>
                </section>
                <section class="table-item-right">
                  <div class="my-list-wrap">
                  </div>
                  <div class="item-btn-wrap">
                    <div class="item-btn">
                      <button type="button" class="item-btn-remove">
                        삭제
                      </button>
                    </div>
                    <div>
                      <button type="button"  class="item-btn-add">
                        <div>
                          <iconify-icon icon="ant-design:shopping-cart-outlined" style="color: #0fa958;" width="15" height="15"></iconify-icon>
                        </div>
                        <div class="space">
                          담기
                        </div>  
                      </button>
                    </div>
                  </div>
                </section>
              </li>
              <li class="table-item">
                <section class="table-item-left">
                  <div class="table-item-img-wrap">
                    <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/freshcode/menu/origin/495_20211214115950" alt="주문목록 이미지" class="table-item-img"></a>
                  </div>
                  <div class="table-item-title">
                    <a href="#">케이준 치킨 샐러드랩 / [샐랩 쿠키세트] 샐랩+오렌지 블랙티 쿠키+슈가로로</a> 
                    <div class="item-price-quantity">
                      <span class="item-price">10,200원</span>
                    </div>
                  </div>
                </section>
                <section class="table-item-right">
                  <div class="my-list-wrap">
                    <button type="button">나만의 조합</button>
                  </div>
                  <div class="item-btn-wrap">
                    <div class="item-btn">
                      <button type="button" class="item-btn-remove">
                        삭제
                      </button>
                    </div>
                    <div>
                      <button type="button"  class="item-btn-add">
                        <div>
                          <iconify-icon icon="ant-design:shopping-cart-outlined" style="color: #0fa958;" width="15" height="15"></iconify-icon>
                        </div>
                        <div class="space">
                          담기
                        </div>    
                      </button>
                    </div>
                  </div>
                </section>
              </li>
              <li class="table-item">
                <section class="table-item-left">
                  <div class="table-item-img-wrap">
                    <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/freshcode/menu/origin/17_20220530180436.jpg" alt="주문목록 이미지" class="table-item-img"></a>
                  </div>
                  <div class="table-item-title">
                    <a href="#">치킨 타코 샐러드</a>
                    <div class="item-price-quantity">
                      <span class="item-price">8,900원</span>
                    </div>
                  </div>
                </section>
                <section class="table-item-right">
                  <div class="my-list-wrap">
                  </div>
                  <div class="item-btn-wrap">
                    <div class="item-btn">
                      <button type="button" class="item-btn-remove">
                        삭제
                      </button>
                    </div>
                    <div>
                      <button type="button"  class="item-btn-add">
                        <div>
                          <iconify-icon icon="ant-design:shopping-cart-outlined" style="color: #0fa958;" width="15" height="15"></iconify-icon>
                        </div>
                        <div class="space">
                          담기
                        </div>    
                      </button>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
          </main>
        </div>
      </div>
    </div>
  </div>
</body>
</html>