/* color */
.white {
    color:#FFFFFF;
}

.gray {
    color : #b9b9b9;
}

.important_letter_color{
    color:#0FA958;
}

.main_color {
    background-color:#0FA958;
}

.gray_btn_color {
    background-color: #cdcdcd;
}

.btn_color{
    background-color: #C7DFAA;
}

/* basic frame */
html, body {
    margin:0px;
}

.wrapper {
    font-family: LGPC;
    color:#353535;
}

.content {
    width: 1080px;
    border : 1px solid #b9b9b9;
    margin: auto;
}

/* my_own_series element */
.step_container {
    height:100px;
    width:1080px;
    text-align: center;
    margin : 10px 0px 10px;
}

.step_circle {
    background-color: #0FA958;
    border-radius: 50%;
    width:100px;
    height:100px;
    border : 5px solid #0FA958;
    display: inline-block;
    position: relative;
}

.step_connection {
    position: relative;
    display: inline-block;
    width: 50px; height:100px;
}

.next_step_circle{
    border-radius: 50%;
    width:100px;
    height:100px;
    border: 5px solid #b9b9b9;
    display: inline-block;
    position: relative;
}

.step_circle > div, .next_step_circle > div, .step_connection > div{
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.step_circle h1 { color:#FFFFFF;}
.step_connection h1 { color : #b9b9b9; }
.next_step_circle h1 { color : #b9b9b9; }

.step {
    margin : 30px 0px 0px 20px;
    display: inline-block;
}

.step_name_container > h3{
    display: inline-block;
    vertical-align: middle;
}

.step_name_container > img{
    vertical-align: middle;
}

.composition_element_container{
    width : 950px;
    margin : auto;
}

select {
    font-weight: 900;
    font-size: 20px;
    font-family: LGPC;
}

.form-select {
    display: block;
    width: 115px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    line-height: 1.0;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-select {
      transition: none;
    }
  }
  .form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0FA958;
  }

  .sort_select_container{
    width : 950px; height: 33px; margin : 0px auto 5px auto; position: relative;
  }

.composition_element_container input[type=radio],.length_element_container input[type=radio],.amount_element_container input[type=radio]{
    display: none;
}

.big_composition_element_box {
    width:400px;
    text-align: center;
    margin:10px;
    cursor: pointer;
    display: inline-block;
}

.big_composition_element {
    width:400px; height:260px;
    border : 2px solid #b9b9b9;
}

.big_composition_element > h2, .composition_element > h2, .basket_element > h2 {
    margin:0px;
}

.big_composition_element_box img, .composition_element_box img{
    margin:10px;
    vertical-align: top;
}

.basket_element_box img{
    margin: 10px 0px;
}

.nutrition_info > img, .setting_btn_container img, .step_name_container img{
    width : 22px;
}

.composition_type > * {
    display: inline-block;
    font-weight: bold;
    margin:0;
}

.composition_type{
    width : 950px; height: 33px; margin : auto; position: relative;
}

.composition_element{
    width:250px; height:250px;
    border : 2px solid #b9b9b9;
}

.composition_element_box{
    width:250px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.basket_element_box{
    width:212px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin:8px 8px 8px 0px;
}

.basket_element{
    width:210px; height:210px;
    border : 2px solid #b9b9b9;
}

.composition_element_box.odd{
    margin: 10px 0px;
}

.composition_element_box.even{
    margin: 10px 95px;
}


.length_element_container, .amount_element_container {
    text-align: center;
    margin-top: 10px;
}

.length_element, .amount_element{
    width: 400px; 
    height:45px; 
    margin-right: 50px; 
    border : 1px solid #b9b9b9;
    cursor: pointer;
    display: inline-block;
}

.length_element > h2, .amount_element>h2 {
    margin : 10px 0px 10px;
}

.nutrition_info_check_btn_container{
    text-align: center;
    margin : 30px 0px 30px;
}

.view_more_btn_container{
    text-align: center;
    margin : 10px 0px;
}

.nutrition_info_check_btn_container *, .view_more_btn_container *{
    display: inline-block;
}

.nutrition_info_check_btn{
    width: 350px; 
    height: 40px; 
    border : 4px solid #b9b9b9; 
    border-radius: 15px;
    display: flex; justify-content: center; align-items: center;
}

.view_more_btn{
    display: flex; justify-content: center; align-items: center;
    width: 120px; 
    height: 40px; 
    border : 2px solid #b9b9b9; 
    border-radius: 10px;
}

.nutrition_info_check_btn > h2, .view_more_btn > h2{
    display: inline-block;
    vertical-align: top;
}

.nutrition_info{
    display: flex;  align-items: center;
}

.nutrition_info>*{
    display: inline-block;
    vertical-align: top;
}

.nutrition_info > h2{
    margin : 0px 0px 0px 60px;
}

.nutrition_info_container {
    background-color: #cecece;
    width: 900px;
    margin : auto;
    border-radius: 15px;
    padding:35px;
}

.nutrition_info_container span{
    font-weight: bold;
}

.folding_btn{
    padding: 6px; border-radius:10px;
    display: inline-block;
    margin:10px;
    background-color: #C7DFAA;
}

.target_container{
    padding:10px;
    width:750px;
    margin: auto;
    border-radius: 10px;
    border:3px solid #7a7a7a;
}

.target_container>h2{
    margin:5px auto;
    text-align: center;
}

.target_container>h2>span {
    font-size:28px;
    font-weight: 900;
    color:#0FA958;
}

.setting_btn_container {
    display:flex; justify-content:right;
}

.setting_btn_container *{
    display:inline-block;
    vertical-align: middle;
    margin:0;
}

.graph {
    height: 40px; border-radius: 15px; border:1px solid #7a7a7a;  background-color: rgb(255, 255, 255);
}

.graph span {
    display: inline-block; height: 40px; line-height: 40px; text-align: right;;
    border-radius: 15px; box-sizing: border-box;
}

.graph.calorie_stack span {
    animation: calorie_stack 2s 1;
    background-color:#C7DFAA
}

.graph .product_carbs_stack{
    animation: product_carbs_stack 2s 1;
    background-color: #f5f0bb;
}

.graph .product_protein_stack{
    animation: product_protein_stack 2s 1;
    background-color:#C7DFAA;
    position: absolute; 
}

.graph .product_fat_stack{
    animation: product_fat_stack 2s 1;
    background-color: #90C8AC;
    position: absolute; 
}

.graph.day_carbs_stack span{
    animation: day_carbs_stack 2s 1;
    background-color: #f5f0bb;
}

.graph.day_protein_stack span{
    animation: day_protein_stack 2s 1;
    background-color:#C7DFAA;
}

.graph.day_fat_stack span{
    animation: day_fat_stack 2s 1;
    background-color: #90C8AC;
}

.calorie_graph_container{
    margin : 20px 0px 10px;
}

.graph_title_container {
    position:relative;
}

.graph_title_container > h2, .graph_title_container > h3{
    display:inline-block;
    margin : 0px 0px 5px 0px;
}

.rate_container {
    position: relative; height:36px;
}

.rate_container > div{
    font-weight: bold; 
    display: inline-block;
    position:absolute;
    text-align: center; 
}

.product_graph_container,.day_nutrition_graph_container{
    margin : 10px 0px 10px;
}

.nutrition_mark_container{
    display: inline-block;
    vertical-align: top; position:absolute; right:0px;
}

.nutrition_mark_container>div{
    display: flex; justify-content: center; align-items: center;
}

.mark{
    background-color: #C7DFAA; width:50px; height:25px;display:inline-block; border-radius:15px; border:1px solid #7a7a7a; 
}

.mark.protein{
    background-color: #C7DFAA;
}

.mark.carbs{
    background-color: #f5f0bb;
}

.mark.fat{
    background-color: #90C8AC;
}

.nutrition_mark_container span{
    font-size:20px;
}

.wild_graph_title > h2{
    display: inline-block;
    margin : 0px;
}

.day_carbs_graph_container > h2, .day_fat_graph_container > h2, .day_protein_graph_container > h2 {
    display: inline-block;
    margin-bottom : 5px;
    margin-top : 10px;
}

.btn_container{
    text-align: center;
    margin :10px;
}

.btn_container>div{
    display: inline-block;
}

.next_btn{
    width: 230px;
    height: 50px;
    border : 5px solid #484848;
    border-radius: 15px;
    display: flex; justify-content: center; align-items: center;
}

.next_btn > img{
    width: 40px;
    height: 40px;
    vertical-align: top;
    margin-right : 5px;
}

.next_btn > h1 {
    vertical-align: top;
    display:inline-block;
}

.delete_btn{
    background-color: #fb857c;
    display: inline-block;
    width:80px;
    height:34px;
    border-radius: 8px;
    text-align: center;
    vertical-align: top;
    margin: 10px 0px 10px 5px;
}

.delete_btn>span, .add_btn>span{
    font-weight: 900;
    font-size:20px;
    vertical-align: middle;
    line-height: 34px;
}

.add_btn{
    background-color: #C7DFAA;
    width:80px;
    height:34px;
    border-radius: 8px;
    text-align: center;
    vertical-align: top;
    margin: 10px 0px 10px 5px;
    display: inline-block;
}

.stepper{
    height : 33px;
    border-radius : 5px;
    border : 1px solid black;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 10px 0px;
    opacity: 0.3;
}

.cost_container{
    height : 33px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 10px 0px;
}

.cost_container > span {
    font-weight: 900;
    font-size : 29px;
    display:inline-block;
    margin: 0px 5px 0px 5px;
    vertical-align: top;
}

.stepper > span {
    font-weight: 900;
    font-size : 29px;
    display:inline-block;
    margin: 0px 5px 0px 5px;
    vertical-align: top;
}

.stepper span:nth-child(2){
    width : 36px;
    text-align: center;
}

.condition_checkbox{
    width : 950px;
    margin : auto;
    border : 2px solid #b9b9b9;
    margin-bottom: 20px;
}

.condition_checkbox .step_circle{
    margin: 20px 0px 0px 20px;
    width: 80px;
    height: 80px;
}

.condition_checkbox .step_circle>div>span{
    display: inline-block;
    margin:20px 0px;
    font-weight: 900;
    text-align: center;
    font-size:26px;
    color:#FFFFFF;
}

.condition_specification_box{
    display: inline-block;
    height:80px;
    margin: 20px 0px 0px 20px;
    vertical-align: top;
    font-weight: 900;
    font-size:22px;
}

.condition_specification_box > span{
    line-height: 80px;
    vertical-align: middle;
}

.puchase_btn, .go_shopping_basket_btn{
    width: 280px; 
    height:45px; 
    margin-right: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.puchase_btn > h2,.go_shopping_basket_btn > h2{
    line-height: 45px;
    vertical-align: middle;
    margin:0px;
}

.dibs_frame{
    width:44px;
    height: 44px;
    border : 1px solid #b9b9b9;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.dibs_frame div{
    display: flex; justify-content: center; align-items: center;
    width:44px;
    height: 44px;
}

.dibs_frame img{
    width: 40px;
    vertical-align: top;
}

.basket {
    width:960px;
    margin:auto;
    background-color: #e0e0e0;
    border-radius: 12px;
    padding:15px 30px;
    position: relative;
}

.basket>span{
    font-weight: 900;
    font-size:26px;
    display: inline-block;
}

.basket>span:nth-of-type(1){
    border-bottom: 4px solid #353535;
    padding-bottom : 3px;
}

.protein_menu li, .topping_menu li,.sidedish_menu li, .search_menu li{
    list-style: none;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    font-size:26px;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    cursor:pointer;
}

.protein_menu, .topping_menu, .sidedish_menu, .search_menu{
    padding-inline-start: 0px;
    text-align: center;
}


.protein_menu li{
    width:240px;
    font-size:26px;
}

.topping_menu li
{
    width:165px;
    font-size:26px;
}

.sidedish_menu li{
    width:190px;
    font-size:26px;
}

/* product */
.product_element{
    width:220px;
    display: inline-block;
    margin-right: 12px;
}

.product_element:nth-last-of-type(1){
    margin-right: 0px;
}

.product_element > h3{
    margin: 5px 0px;
}

.product_element > .icon {
    width:17px;
    vertical-align: middle;
    line-height: 17px;
}

.product_element > span{
    font-weight: 900;
    font-size:15px;
    display: inline-block;
    line-height: 17px;
    vertical-align: middle;
}

.product_element>span:nth-of-type(1){
    margin-right : 5px;
}

.product_list{
    width:928px;
    margin:auto;
}

.product_element_box{
    margin-bottom: 12px;
}

.search_title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 928px;
    margin: 20px auto 20px auto;
}

.search_title > h2{
    margin-left:30px;
}

hr{
    width: 928px;
    margin-top:20px;
}

.search_menu li{
    width:153px;
    border-width:1px 1px 1px 0px;
    border-top-color : #b9b9b9;
    border-right-color : #b9b9b9;
    border-bottom-color : #b9b9b9;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    font-size:18px;
}

.search_menu {
    margin: 0px;
}

.search_menu li:first-of-type{
    border-left : 1px solid #b9b9b9;
}

.search_sub_title{
    width: 928px;
    margin: 10px auto 10px auto;
}

/* arrangement */
.flex_center{
    display: flex; justify-content: center; align-items: center;
}

.flex_vertical_center{
    display: flex;  align-items: center;
}

/* .flex_vertical_center_horizontal_right {
    display: flex; align-items: center; justify-content: right; 
} */

.vertical_middle{
    vertical-align: middle;
}

.flex_horizontal_right{
    display:flex; justify-content:right;
}

.center_child {
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.center_parent {
    position: relative;
}

.inlineblock{
    display: inline-block;
}

/* margin */
.margin_zero{
    margin:0px;
}

.margin_10px{
    margin:10px;
}

.margin_20px{
    margin:20px;
}

.margin_5px{
    margin: 5px;
}

.margin_top_bottom_5px{
    margin : 5px 0px 5px;
}

.margin_top_bottom_10px{
    margin : 10px 0px 10px;
}

.margin_top_bottom_30px{
    margin : 30px 0px 30px;
}

.margin_left_60px{
    margin-left: 60px;
}


/* button, icon */

.icon_22px{
    width:22px; height:22px;
}

.icon_40px {
    width: 40px;
    height: 40px;
}