/* color */
.white {
    color:#FFFFFF;
}

.gray {
    color : #b9b9b9;
}

.important_letter_color{
    color:#0FA958;
}

.main_color {
    background-color:#0FA958;
}

.btn_color{
    background-color: #C7DFAA;
}

/* basic frame */
html, body {
    margin:0px;
}

.wrapper {
    font-family: LGPC;
}

.content {
    width: 1080px;
    border : 1px solid #b9b9b9;
    margin: auto;
}

/* my_own_series element */
.step_container {
    height:100px;
    width:1080px;
    text-align: center;
}

.step_circle {
    border-radius: 50%;
    width:100px;
    height:100px;
    border : 5px solid #0FA958;
}

.next_step_circle_border{
    border-color:#b9b9b9;
}

.step_link_size{
    width: 50px; height:100px;
}

.big_composition_element {
    width:400px; height:260px;
    border : 2px solid #b9b9b9;
}

.big_composition_element_box {
    width:400px;
    text-align: center;
    margin:10px;
    cursor: pointer;
}

.composition_element{
    width:250px; height:250px;
    border : 2px solid #b9b9b9;
}

.composition_element_box{
    width:250px;
    text-align: center;
    margin: 10px 50px;
    cursor: pointer;
}

.composition_element_container{
    text-align: center;
}

.length_element{
    width: 400px; 
    height:45px; 
    margin-right: 50px; 
    border : 1px solid #b9b9b9;
    cursor: pointer;
}

.nutrition_info_container {
    background-color: #cecece;
    width: 900px;
    margin : auto;
    border-radius: 15px;
    padding:35px;
}

.target_container{
    padding:10px;
    width:750px;
    margin: auto;
    border-radius: 10px;
    border:3px solid #7a7a7a;
}

.target_container>h2{
    margin:5px auto;
    text-align: center;
}

/* arrangement */
.flex_center{
    display: flex; justify-content: center; align-items: center;
}

.flex_vertical_center{
    display: flex;  align-items: center;
}

/* .flex_vertical_center_horizontal_right {
    display: flex; align-items: center; justify-content: right; 
} */

.vertical_middle{
    vertical-align: middle;
}

.flex_horizontal_right{
    display:flex; justify-content:right;
}

.center_child {
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.center_parent {
    position: relative;
}

.inlineblock{
    display: inline-block;
}

/* margin */
.margin_zero{
    margin:0px;
}

.margin_10px{
    margin:10px;
}

.margin_20px{
    margin:20px;
}

.margin_5px{
    margin: 5px;
}

.margin_top_bottom_5px{
    margin : 5px 0px 5px;
}

.margin_top_bottom_10px{
    margin : 10px 0px 10px;
}

.margin_top_bottom_30px{
    margin : 30px 0px 30px;
}

.margin_left_60px{
    margin-left: 60px;
}

/* radio */
input[type=radio]{
    display: none;
}

/* button, icon */
.next_btn{
    width: 230px;
    height: 50px;
    border : 5px solid #484848;
    border-radius: 15px;
}

.icon_22px{
    width:22px; height:22px;
}

.nutrition_info_check_btn{
    width: 350px; 
    height: 40px; 
    border : 4px solid #b9b9b9; 
    border-radius: 15px;
}


.icon_40px {
    width: 40px;
    height: 40px;
}

.btn_container{
    text-align: center;
}

.folding_btn{
    padding: 6px; border-radius:10px;
}

h2>span {
    font-size:28px;
    font-weight: 900;
}