<div class="my-own-recipe-register-orderhistory">
  <span class="">상품명</span>
  <span class="">조합내용</span>
  <hr>
  <div class="my-own-recipe-register-orderhistory-item" th:each="list : ${list}" th:if="${list.category == 0}"
    th:field="${name}">
      <div class="my-own-recipe-register-orderhistory-item-img">
        <img src="../images/lunchbox.png" alt="image">
      </div>
      <div class="my-own-recipe-register-orderhistory-item-name-category">
        <div class="my-own-recipe-register-orderhistory-item-category" th:if="${list.category == 0}">
          [나만의 도시락]
        </div>
        <div class="my-own-recipe-register-orderhistory-item-name" th:text="${list.name}">

        </div>
      </div>
      <!-- <div th:text="${list}"></div> -->
      <div class="my-own-recipe-register-orderhistory-item-detail">
        <div class="my-own-recipe-register-orderhistory-item-detail-list" th:text="${list.detail }">

        </div>
      </div>
      <button type="button" name="register-btn" class="my-own-recipe-register-btn" th:value="${list.id}" 
      th:onclick="|location.href='@{/myownrecipe/moradddetail(id=${list.id})}'|">
     
        추가 설정
      </button>
  </div>
  <hr>
</div>