<div class="my-own-recipe-register-orderhistory-item" th:each="list : ${list}" th:if="${list.category == '0'}">
  <div class="my-own-recipe-register-orderhistory-item-img">
    <img src="../images/salad.png" alt="image">
  </div>
  <div class="my-own-recipe-register-orderhistory-item-name-category">
    <div class="my-own-recipe-register-orderhistory-item-category"  th:if="${list.category == '0'}">
      [나만의 도시락]
    </div>
    <div class="my-own-recipe-register-orderhistory-item-name" th:text="${list.name}">
      
    </div>
  </div>


  <div class="my-own-recipe-register-orderhistory-item-detail">
    <div class="my-own-recipe-register-orderhistory-item-detail-list" th:text="${list.explanation}">
   
    </div>
  </div>
  <div class="my-own-recipe-register-orderhistory-item-check">
    <input type="radio" class="my-own-recipe-register-orderhistory-item-check-btn"
      name="my-own-recipe-register-orderhistory-item-check">
  </div>

</div>
<hr>