<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <title>나만의샐러드 Step2</title>
    <link rel="stylesheet" th:href="@{/css/font_cyj.css}">
    <link rel="stylesheet" th:href="@{/css/style_cyj.css}">
    <script src="resources/static/js/bootstrap.js"></script>
    <script>
        window.onload=function(){
            $('.nutrition_info_check_btn').click(function() {
                var sum=0;
                $('.basket_element_box').each(function() {
                    var amount=Number($(this).find('.basket_stepper span:nth-child(2)').text());
                    sum+=amount;
                })
                
                if(!$('.basket_element_box').length){
                    alert('한 가지 이상은 선택하셔야 합니다.')
                    return;
                }
                else if(sum>2.5){
                    alert('총량 2.5까지 설정 가능합니다. 다시 한 번 확인해주시길 바랍니다.')
                    return;
                }
                else{
                    $('.nutirition_info_modal').show();
                }
            })

            $('.protein_menu li').click(function(){
                $('.protein_menu .active_menu').removeClass('active_menu');
                $(this).addClass('active_menu');

                var menu = $(this).attr('id');

                if(menu=='egg'){
                    $('.composition_element_list').html(
                    `
                    <div class="composition_element_container">
                        <div class="composition_element_box odd" data-value="egg">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="계란">
                            <h2>계란</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box even" data-value="quail_eggs">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="메추리알">
                            <h2>메추리알</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                    </div>
                    `)
                }
                else if(menu=='meat'){
                    $('.composition_element_list').html(
                    `
                    <div class="composition_element_container">
                        <div class="composition_element_box odd" data-value="BBQ_pulled_pork">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="바베큐풀드포크">
                            <h2>바베큐풀드포크</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box even"  data-value="chicken_breast">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="닭가슴살">
                            <h2>닭가슴살</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box odd" data-value="chicken_thigh_meat">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="닭다리살">
                            <h2>닭다리살</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                    </div>
                    <div class="composition_element_container">
                        <div class="composition_element_box odd" data-value="smoked_duck">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="훈제오리">
                            <h2>훈제오리</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box even" data-value="roast_beef">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="로스트비프">
                            <h2>로스트비프</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                    </div>
                    `);
                }
                else if(menu=='sausageAndHam'){
                    $('.composition_element_list').html(
                    `
                    <div class="composition_element_container">
                        <div class="composition_element_box odd"  data-value="black_label_ham">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="블랙라벨햄">
                            <h2>블랙라벨햄</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box even" data-value="chicken_breast_ham">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="치킨브레스트햄">
                            <h2>치킨브레스트햄</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box odd" data-value="chicken_breast_vienna_sausage">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="닭가슴살비엔나소시지">
                            <h2>닭가슴살비엔나소시지</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                    </div>
                    `);
                }
                else{
                    $('.composition_element_list').html(
                    `
                    <div class="composition_element_container">
                        <div class="composition_element_box odd" data-value="crammy">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="크래미">
                            <h2>크래미</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box even" data-value="squid">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="오징어">
                            <h2>오징어</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                        <div class="composition_element_box odd" data-value="grilled_shrimp">
                            <div class="composition_element">
                            <img src="https://placehold.co/180x180" alt="구운새우">
                            <h2>구운새우</h2>
                            </div>
                            <div class="stepper" style="opacity:1">
                                <span>-</span>
                                <span>1.0</span>
                                <span>+</span>
                            </div>
                            <div class="add_btn">
                                <span>담기</span>
                            </div>
                        </div>
                    </div>
                    `);
                }
            })

            $('.content').on('click','.add_btn',function() {
                var thisEle = event.target.parentElement.parentElement;
                var val = $(thisEle).attr('data-value');
                var img = $(thisEle).find('img');
                var imgSrc = $(img).attr('src');
                var nameTag = $(thisEle).find('h2').text();
                var amount = $(thisEle).find('.stepper span:nth-child(2)').text();
                var span1Opacity = $(thisEle).find('.stepper span:first-child').css('opacity');
                var span3Opacity = $(thisEle).find('.stepper span:last-child').css('opacity');
                var span1pointerEvents = $(thisEle).find('.stepper span:first-child').css('pointerEvents');
                var span3pointerEvents = $(thisEle).find('.stepper span:last-child').css('pointerEvents');

                if($(`.basket_element_box[data-value=${val}]`).length){
                    alert("이미 바구니에 추가되어 있습니다. 확인하시길 바랍니다.")
                    return;
                }
                else if($(`.basket_element_box`).length==3){
                    alert("바구니가 가득 찼습니다. 확인하시길 바랍니다.")
                    return;
                }
                else{                
                    $('.basket_element_container').append(
                `
                <div class="basket_element_box" data-value=${val}>
                        <div class="basket_element">
                            <img src=${imgSrc} width="150" height="150" alt=${nameTag}>
                            <h2>${nameTag}</h2>
                        </div>
                        <div class="basket_stepper" style="opacity:1">
                            <span style="pointer-events:${span1pointerEvents}; opacity:${span1Opacity}">-</span>
                            <span>${amount}</span>
                            <span style="pointer-events:${span3pointerEvents}; opacity:${span3Opacity}">+</span>
                        </div>
                        <div class="delete_btn">
                            <span>삭제</span>
                        </div>
                </div>
                `
                ); 
                }
            })

            $('.basket_element_container').on('click','.delete_btn',function() {
                var thisEle = event.target.parentElement.parentElement;
                $(thisEle).detach();
            })

            $('.content').on('click','.composition_element_box img',function() {
                var thisEle = event.target;
                $('.modal').show();
            })

            $('.content').on('click','.basket_element_box img',function() {
                var thisEle = event.target;
                $('.modal').show();
            })

            $('.btn-close').click(function(){
                $('.modal').hide();
                $('.nutirition_info_modal').hide();
            })

            $('.content').on('click','.basket_stepper span:last-child',function(e) {
                        var parentEle = e.target.parentElement.parentElement;
                        var eleVal = parentEle.getAttribute('data-value');
                        var eleValAmount=Number($(`.basket_element_box[data-value=${eleVal}] .basket_stepper span:nth-child(2)`).text())
                        
                        if(eleValAmount==0.5){
                            $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[0].style.opacity=1.0;
                            $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[0].style.pointerEvents='auto';
                        }

                        if(eleValAmount!=2.0){
                            eleValAmount = eleValAmount+0.5;
                            $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span:nth-child(2)`).text(eleValAmount.toFixed(1));
                            if(eleValAmount==2.0){
                                $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[2].style.opacity=0.3;
                                $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[2].style.pointerEvents='none'; 
                            }
                        }
            })
            
            $('.content').on('click','.basket_stepper span:first-child',function(e) {
                        var parentEle = e.target.parentElement.parentElement;
                        var eleVal = parentEle.getAttribute('data-value');
                        var eleValAmount=Number($(`.basket_element_box[data-value=${eleVal}] .basket_stepper span:nth-child(2)`).text())

                        if(eleValAmount==2.0){
                            $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[2].style.opacity=1.0;
                            $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[2].style.pointerEvents='auto';
                        }

                        if(eleValAmount!=0.5){
                            eleValAmount = eleValAmount-0.5;
                            $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span:nth-child(2)`).text(eleValAmount.toFixed(1));
                            if(eleValAmount==0.5){
                                $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[0].style.opacity=0.3;
                                $(`.basket_element_box[data-value=${eleVal}] .basket_stepper span`).get()[0].style.pointerEvents='none'; 
                            }
                        }
            })

            $('.content').on('click','.stepper span:first-child',function(e) {
            var parentEle = e.target.parentElement.parentElement;
            var eleVal = $(parentEle).attr('data-value');
            var eleValAmount=Number($('.composition_element_box[data-value='+eleVal+'] .stepper span:nth-child(2)').text())

            if(eleValAmount==2.0){
                $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[2].style.opacity=1.0;
                $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[2].style.pointerEvents='auto';
            }

            if(eleValAmount!=0.5){
                eleValAmount = eleValAmount-0.5;
                $('.composition_element_box[data-value='+eleVal+'] .stepper span:nth-child(2)').text(eleValAmount.toFixed(1));
                if(eleValAmount==0.5){
                    $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[0].style.opacity=0.3;
                    $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[0].style.pointerEvents='none'; 
                }
            }
            })


            $('.content').on('click','.stepper span:last-child',function(e) {
                        var parentEle = e.target.parentElement.parentElement;
                        var eleVal = parentEle.getAttribute('data-value');
                        var eleValAmount=Number($('.composition_element_box[data-value='+eleVal+'] .stepper span:nth-child(2)').text());
                        
                        if(eleValAmount==0.5){
                            $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[0].style.opacity=1.0;
                            $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[0].style.pointerEvents='auto';
                        }

                        if(eleValAmount!=2.0){
                            eleValAmount = eleValAmount+0.5;
                            $('.composition_element_box[data-value='+eleVal+'] .stepper span:nth-child(2)').text(eleValAmount.toFixed(1));
                            if(eleValAmount==2.0){
                                $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[2].style.opacity=0.3;
                                $('.composition_element_box[data-value='+eleVal+'] .stepper span').get()[2].style.pointerEvents='none'; 
                            }
                        }
            })

            $('.next_btn').click(function() {
                $('form').submit();
            })

            $('.previous_btn').click(function() {
                    //history.go(-1);
                    location.assign("my_own_salad_step1.html")
            })
        }
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="step_container">
                <div class="next_step_circle">
                    <div>
                        <h1>step<br>1</h1>
                    </div>
                </div>
                <div class="step_connection">
                    <div>
                        <h1>···</h1> 
                    </div>
                </div>
                <div class="step_circle">
                    <div>
                        <h1>step<br>2</h1>
                    </div>
                </div>
                <div class="step_connection">
                    <div>
                        <h1>···</h1> 
                    </div>
                </div>
                <div class="next_step_circle">
                    <div>
                        <h1>step<br>3</h1>
                    </div>
                </div>
                <div class="step_connection">
                    <div>
                        <h1>···</h1> 
                    </div>
                </div>
                <div class="next_step_circle">
                    <div>
                        <h1>step<br>4</h1>
                    </div>
                </div>
                <div class="step_connection">
                    <div>
                        <h1>···</h1> 
                    </div>
                </div>
                <div class="next_step_circle">
                    <div>
                        <h1>step<br>5</h1>
                    </div>
                </div>
            </div>
            
            <div class="step_name_container">
                <h1 class="step">step2. 단백질 선택</h1>
                <img src="../beonadiet/resources/static/assets/warning_icon.png">
                <h3>이미지 클릭 시 상세정보(1회제공량, 영양정보)를 확인할 수 있습니다.</h3>     
            </div>

            <form action="my_own_salad_step3.html" method="post">
                <div class="basket">
                    <span>&nbsp;단백질 바구니&nbsp;</span>&nbsp;&nbsp;<span>(최대 3가지, 총량 2.5)</span>
                    <div class="basket_element_container" style="height: 285px;">
                    </div>

                    <div class="nutrition_info_check_btn_container" style="position:relative; height:40px; margin:0px;">
                        <div style="height:40px;"> 
                            <div class="nutrition_info_check_btn" style="position:absolute; vertical-align:top; right:0px; background-color:#FFFFFF; width:230px">
                                <h2>맞춤형 영양정보 확인</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <ul class="protein_menu"> 
                <li class="active_menu" id="egg">계란/알류</li><!--
                --><li id="meat">고기</li><!--
                --><li id="sausageAndHam">소시지/햄</li><!--
                --><li id="seafood">해산물</li>
            </ul>

            <div class="composition_element_list">
                <div class="composition_element_container">
                    <div class="composition_element_box odd" data-value="egg">
                        <div class="composition_element">
                        <img src="https://placehold.co/180x180" alt="계란">
                        <h2>계란</h2>
                        </div>
                        <div class="stepper" style="opacity:1">
                            <span>-</span>
                            <span>1.0</span>
                            <span>+</span>
                        </div>
                        <div class="add_btn">
                            <span>담기</span>
                        </div>
                    </div>
                    <div class="composition_element_box even" data-value="quail_eggs">
                        <div class="composition_element">
                        <img src="https://placehold.co/180x180" alt="메추리알">
                        <h2>메추리알</h2>
                        </div>
                        <div class="stepper" style="opacity:1">
                            <span>-</span>
                            <span>1.0</span>
                            <span>+</span>
                        </div>
                        <div class="add_btn">
                            <span>담기</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn_container">
                <div> 
                    <div class="previous_btn">
                        <h1>Previous Step</h1>&nbsp;
                        <img src="../beonadiet/resources/static/assets/previous_icon.png">
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 style="margin:5px 0px 5px 20px">허니오트</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding-left:35px; padding-right:35px; padding-bottom:15px;">
                            <p class="elem_comment" style="margin:0;">고소한 위트빵에 오트밀 가루를 묻혀 고소함과 식감을 두배로 느낄 수 있습니다.</p>
                            <br>
                            <h3 style="margin:0; display: inline-block;">[영양정보]</h3>&nbsp;&nbsp;<span>*15cm 기준</span>
                            <table>
                                <tr>
                                    <th>중량</th>
                                    <th>열량</th>
                                    <th>탄수화물</th>
                                    <th>단백질</th>
                                    <th>지방</th>
                                    <th>포화지방</th>
                                    <th>콜레스테롤</th>
                                    <th>나트륨</th>
                                </tr>
                                <tr>
                                    <td>82g</td>
                                    <td>230kcal</td>
                                    <td>43g</td>
                                    <td>8g</td>
                                    <td>3g</td>
                                    <td>0.5g</td>
                                    <td>0mg</td>
                                    <td>280mg</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>11.5%</td>
                                    <td>13%</td>
                                    <td>15%</td>
                                    <td>2%</td>
                                    <td>3%</td>
                                    <td>0%</td>
                                    <td>14%</td>
                                </tr>
                            </table>
                            <span>※ 1일 영양성분 기준치에 대한 비율(%)은 2,000kcal 기준이므로 개인의 필요 열량에 따라 다를 수 있습니다.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nutirition_info_modal" tabindex="-1">
                <div class="modal-dialog" style="max-width:700px" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 style="margin:5px 0px 5px 20px">나만의 샐러드 step2 맞춤형 영양정보</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding-bottom:0px;">
                            <style>                    
                                @keyframes calorie_stack {
                                    0%{width: 0;}
                                    100%{width: 11.5%;}
                                }

                                @keyframes product_carbs_stack {
                                    0%{width: 0;}
                                    100%{width: 74%;}
                                }

                                @keyframes product_protein_stack {
                                    0%{width: 0;}
                                    100%{width: 15.75%;}
                                }

                                @keyframes product_fat_stack {
                                    0%{width: 0;}
                                    100%{width: 10.25%;}
                                }

                                @keyframes day_carbs_stack {
                                    0%{width: 0;}
                                    100%{width: 28%;}
                                }

                                @keyframes day_protein_stack {
                                    0%{width: 0;}
                                    100%{width: 4%;}
                                }

                                @keyframes day_fat_stack {
                                    0%{width: 0;}
                                    100%{width: 0.04%;}
                                }
                            </style>

                            <div class="modal_nutrition_info_container">
                                <div class="modal_target_container">
                                    <h2><u>개인설정목표</u></h2>
                                    <h2>일일 섭취 칼로리 <span>2000</span>kcal</h2>
                                    <h2>탄수화물 <span>30</span>% 단백질 <span>40</span>% 지방 <span>30</span>%</h2>
                                    <div class="setting_btn_container">
                                        <div>
                                            <img src="../beonadiet/resources/static/assets/next_icon.png">
                                            <h2>설정</h2>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="calorie_graph_container">
                                    <div class="graph_title_container">
                                        <h2>일일 섭취 칼로리 대비 비율</h2><span>&nbsp;&nbsp;</span><h3>(일일 섭취 칼로리 <u>2000kcal</u> 기준)</h3>
                                    </div>

                                    <div class="graph calorie_stack">
                                        <span style="width:11.5%"></span>
                                    </div>

                                    <div class="rate_container">
                                        <div style="left: -30px; width:66px;">0%<br>(0kcal)</div>
                                        <div style="color:#006c04; left: calc(11.5% - 30px); width:66px;">11.5%<br>(230kcal)</div>
                                        <div style="left: calc(100% - 30px); text-align: center; width:66px;">100%<br>(2000kcal)</div>
                                    </div>
                                </div>

                                <div class="product_graph_container">
                                    <div class="graph_title_container">
                                        <h2>탄</h2><span>수화물</span>
                                        <h2>단</h2><span>백질</span>
                                        <h2>지</h2><span>방</span>
                                        <h2>비율</h2>
                                        <div class="nutrition_mark_container">
                                            <div>
                                                <div class="mark carbs"></div>
                                                &nbsp;<span>탄수화물</span>&nbsp;&nbsp;&nbsp;
                                                <div class="mark protein"></div>
                                                &nbsp;<span>단백질</span>&nbsp;&nbsp;&nbsp;
                                                <div class="mark fat"></div>
                                                &nbsp;<span>지방</span>&nbsp;&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph" style="position:relative"> 
                                        <span class="product_carbs_stack" style="width:74%"></span>
                                        <span class="product_protein_stack" style="width:15.75%;left:74%"></span>
                                        <span class="product_fat_stack" style="width:10.25%; left:89.75%"></span>
                                    </div>

                                    <div class="rate_container">
                                        <div style="width: 60px; left:calc(74% - 30px)">74%<br>(탄수화물)</div>
                                        <div style="width: 47.5px; left:calc(89.75% - 23.75px)">15.75%<br>(단백질)</div>
                                        <div style="width: 47px; left:calc(100% - 23.5px)">10.25%<br>(지방)</div>
                                    </div>
                                </div>

                                <div class="day_nutrition_graph_container">
                                    <div class="wild_graph_title">
                                        <h2>하루섭취 탄</h2><span>수화물</span> 
                                        <h2>단</h2><span>백질</span>
                                        <h2>지</h2><span>방</span>
                                        <h2>비율</h2><br><!--
                                        --><span>(일일 섭취 칼로리 <u>2000kcal</u>)</span><br>
                                    </div>

                                    <div class="day_carbs_graph_container">
                                        <h2>탄</h2><span>수화물(하루 <u>30%</u> 기준)</span>
                                        <div>
                                            <div class="graph day_carbs_stack">
                                                <span style="width:28%"></span>
                                            </div>
                                            <div class="rate_container">
                                                <div>0%<br>(0g)</div>
                                                <div style="color:#006c04; width: 47.5px; left:calc(28% - 23.75px)">28%<br>(43g)</div>
                                                <div style="width: 40.5px; left:calc(100% - 20.25px)">100%<br>(150g)</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="day_protein_graph_container">
                                        <h2>단</h2><span>백질(하루 <u>40%</u> 기준)</span>
                                        <div>
                                            <div class="graph day_protein_stack">
                                                <span style="width:4%"></span>
                                            </div>
                                            <div class="rate_container">
                                                <div>0%<br>(0g)</div>
                                                <div style="color:#006c04; width: 47.5px; margin-left:10px; left:calc(4% - 23.75px)">4%<br>(8g)</div>
                                                <div style="width: 40.5px; left:calc(100% - 20.25px)">100%<br>(200g)</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="day_fat_graph_container">
                                        <h2>지</h2><span>방(하루 <u>30%</u> 기준)</span>
                                        <div class="graph day_fat_stack">
                                            <span style="width:0.04%"></span>  
                                        </div>
                                        <div class="rate_container">
                                            <div>0%<br>(0g)</div>
                                            <div style="color:#006c04; width: 47.5px; margin-left:10px; left:calc(4% - 23.75px)">0.04%<br>(3g)</div>
                                            <div style="width: 40.5px; left:calc(100% - 20.25px)">100%<br>(75g)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="btn_container" style="magin-bottom:0px">
                                <div> 
                                    <div class="next_btn">
                                        <img src="../beonadiet/resources/static/assets/next_icon.png">
                                        <h1>Next Step</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>