<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/address.css}">
  <link th:href="@{/stylekmj.css}" rel="stylesheet" />
  <title>배송지관리페이지</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <!-- fragment 추가 -->
  <div class="home-container" th:replace="fragments/common :: nav"></div>
  <div class="home-container" th:replace="mypage/mypage :: mypageTop"></div>
  <div class="home-container" th:replace="mypage/mypage :: sidebar"></div>    
  <div id="container" style="margin: 20px 0 20px 130px;">
  <div id="container">
    <div class="adr-list-wrap">
      <div class="adr-list-box">
        <!-- 타이틀 -->
        <div class="titleBox">
          <span class="titleText">
            배송지 관리
          </span>
          <span class="titleSub">
            우측 상단 배송지 추가 버튼 클릭 시 배송지를 추가할 수 있습니다.
          </span>
          <!-- 배송지 추가 버튼 -->
          <button type="button" class="btn-new-adr" onclick="showPopupAdd();">
            <iconify-icon icon="gridicons:plus" style="color: #0fa958;" width="16" height="16"></iconify-icon>
            배송지 추가
          </button>
        </div>
        <!-- 배송지 목록 -->
        <div class="list-content-area">
          <div class="adr-detail-title">
            <div class="tit-adr">주소</div>
            <div class="tit-name">받는 분</div>
            <div class="tit-mobile">연락처</div>
            <div class="tit-modify">삭제</div>
          </div>
          <main class="adr-main">
            <ul class="adr-list">
              <!-- <form id="frm" method="post"> -->
                <li class="adr-items" th:each = "address:${list}">
                  <div class="adr-cont">
                    <span class="badge-default" th:if="${address.default_address}!=null">
                      기본 배송지
                    </span>
                    <p th:text="${address.address}">주소</p>
                  </div>
                  <div class="name-cont">
                    <span th:text="${address.receiver_name}">받는분</span>
                  </div>
                  <div class="mobile-cont">
                    <span th:text="${address.mobile_num}">연락처</span>
                  </div>
                  <div class="modify-cont">
                    <form th:action="@{/mypage/address/delete}" method="post">
                      <input type="hidden" name="addressNum" th:value="${address.num}">
                      <input type="hidden" name="mid" th:value="${#authentication.name}">
                      <button type="submit" class="btn-modify">삭제하기</button>
                    </form>
                  </div>
                </li>
              <!-- </form> -->


              <!-- <li class="adr-items">
                <div class="adr-cont">
                  <span class="badge-default">
                    기본 배송지
                  </span>
                  <p>
                    부산광역시 부산진구 중앙대로 668 (A1프라자6층)
                  </p>
                </div>
                <div class="name-cont">
                  <span>김곰돌</span>
                </div>
                <div class="mobile-cont">
                  <span>010-1234-5678</span>
                </div>
                <div class="modify-cont">
                  <button type="button" class="btn-modify" onclick="showPopupMod();">수정하기</button>
                </div>
              </li> -->



              <!-- <li class="adr-items">
                <div class="adr-cont">
                  <span class="badge-default badge-hidden">
                    기본 배송지
                    </span>
                    <p>
                      부산광역시 부산진구 중앙대로 668 (A1프라자6층)
                    </p>
                  </div>
                  <div class="name-cont">
                    <span>김곰돌</span>
                  </div>
                  <div class="mobile-cont">
                    <span>010-1234-5678</span>
                  </div>
                  <div class="modify-cont">
                    <button type="button" class="btn-modify" onclick="showPopupMod();">수정하기</button>
                  </div>
                </li>
                <li class="adr-items">
                <div class="adr-cont">
                  <span class="badge-default badge-hidden">
                    기본 배송지
                  </span>
                  <p>
                    부산광역시 부산진구 중앙대로 668 (A1프라자6층)
                  </p>
                </div>
                <div class="name-cont">
                  <span>김곰돌</span>
                </div>
                <div class="mobile-cont">
                  <span>010-1234-5678</span>
                </div>
                <div class="modify-cont">
                  <button type="button" class="btn-modify" onclick="showPopupMod();">수정하기</button>
                </div>
              </li> -->
            </ul>
          </main>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <!-- fragment 추가 -->
  <div class="home-footer-container" th:replace="fragments/common :: foot"></div>
  <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{/js/address.js}"></script>
</body>
</html>