<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탈퇴페이지</title>
  <link rel="stylesheet" th:href="@{../css/delete_account.css}">
  <style>
  </style>
</head>
<body>
  <div id="container">
    <div class="titleBox">
      <h1 class="title">회원탈퇴</h1>
    </div>
    <div class="box">
      <div class="innerBox">
        <div>
          <p class="innerTitle">정말 탈퇴하시겠습니까?</p>
        </div>
        <div>
          <hr>
        </div>
        <div class="textBox">
          <p class="text">- 탈퇴 후 기존 아이디로 재가입하실 수 없습니다.</p>
        </div>
        <div class="textBox">
          <p class="text">- 탈퇴 즉시 보유한 할인쿠폰이 모두 소멸되며 복구가 불가능하오니 신중히 결정해 주시기 바랍니다.</p>  
        </div>
        <div class="textBox">
          <p class="text">- 탈퇴 후 재가입 하셔도 할인쿠폰은 재발급되지 않습니다.</p>
        </div>
        <div class="checkBox">
          <label>
            <input type="checkbox" name="check_agree" value="yes" id="check_agree" required>&nbsp;&nbsp;위 탈퇴 내용에 동의합니다.
          </label>
        </div>
        <div>
          <table>
            <colgroup span="1" style="background-color: #eeeeee"></colgroup>
            <tr>
              <th>
                아이디
              </th>
              <td>
                <div class="textId" th:text="${userid}">
                  
                </div>
              </td>
            </tr>
            <tr>
              <th>
                비밀번호
              </th>
              <td>
                <input type="password" name="password" required>
              </td>
            </tr>
          </table>
        </div>
        <form th:action="@{/mypage/userinfo/delete_account/delete}" th:method="post">
          <input type="hidden" name="id" th:value="${id}">
          <input type="hidden" name="mid" th:value="${#authentication.name}">
          <div class="btnBox">
            <button type="submit" class="btnDelete">회원탈퇴</button>
            <button type="button" class="btnCancel">탈퇴취소</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script th:src="@{../js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{../js/delete_account.js}"></script>
</body>
</html>