<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('마이페이지')">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" th:href="@{/stylekmj.css}"> -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Mypage</title>

</head>

<body>
  <div class="home-container" th:replace="fragments/common :: nav"></div>

  <div class="my-page-container" th:fragment="mypage">
    <div class="my-page-card-container">
      <div class="my-page-card">
        <div class="my-page-profile">
          <a href="#" class="my-page-profile-modify-button-img">
            <iconify-icon icon="healthicons:ui-user-profile" style="color: #4287f5;" width="60" height="60">
            </iconify-icon>
          </a>

          <div clas="my-page-profile-bottom">
            <span>
              <p style="font-size: 25px; font-weight: bold;">김민재님</p>
            </span>
            <h5 style="font-size: 5px;">&nbsp;</h5>
            <span>
              <a href="#" class="my-page-profile-modify-button">정보수정</a>
              <a href="#" class="my-page-logout">로그아웃</a>
            </span>
          </div>
        </div>


        <div class="my-page-delivery">
          <p style="font-size: 25px; font-weight: bold;">배송중</p>
          <h3>&nbsp;</h3>
          <div
            style="display: inline-block; font-size: 30px; float:left; margin-left:40px;font-weight: bold; color: #0FA958; ">
            1 </div>
          <p style="display: inline-block; font-size: 30px; float:left; margin-left:40px;font-weight: bold;">개</p>
          <a href="#" style="display: inline-block; float:right; margin-right:20px;">
            <iconify-icon icon="bi:chevron-right" width="35" height="35"></iconify-icon>
          </a>
        </div>


        <div class="my-page-point">
          <p style="font-size: 25px; font-weight: bold;">적립금</p>
          <h3>&nbsp;</h3>
          <div
            style="display: inline-block; font-size: 30px; float:left; margin-left:40px;font-weight: bold; color:#0FA958">
            3 </div>
          <p style="display: inline-block; font-size: 30px; float:left; margin-left:40px;font-weight: bold;">원</p>
          <a href="#" style="display: inline-block; float:right; margin-right:20px; ">
            <iconify-icon icon="bi:chevron-right" width="35" height="35"></iconify-icon>
          </a>
        </div>
        <div class="my-page-dibs">
          <p style="font-size: 25px; font-weight: bold;">찜목록</p>
          <h3>&nbsp;</h3>
          <div
            style="display: inline-block; font-size: 30px; float:left; margin-left:40px;font-weight: bold; color:#0FA958">
            3 </div>
          <p style="display: inline-block; font-size: 30px; float:left; margin-left:40px;font-weight: bold;">개</p>
          <a href="#" style="display: inline-block; float:right; margin-right:20px; ">
            <iconify-icon icon="bi:chevron-right" width="35" height="35"></iconify-icon>
          </a>
        </div>




      </div>
    </div>

    <div class="my-page-content">
      <div class="my-page-list-container">
        <div class="my-page-list">
          <p style="font-size: 30px; text-align:center; margin:10px; font-weight: bold;"> 마이페이지</p>
          <hr>
          <!-- 수빈 ul태그 list style none 했음 -->
          <ul class="my-page-ul" style="list-style: none;">
            <p style="font-size:25px; font-weight:bold; margin:15px;">쇼핑</p>

            <!-- 수빈 누르면 해당 페이지 이동 (마이페이지들) -->
            <li><button type="button" onclick="getMyShoppingList()">주문목록 / 배송조회</button></li>
            <li><button type="button" onclick="getMyPick()">찜 목록</button></li>
            <li><button type="button" onclick="getMyPoint()">적립금</button></li>
            <!-- <li><button type="button" onclick="getMyCart()">장바구니</button></li> -->
          </ul>

          <!-- 수빈 ul태그 list style none 했음 -->
          <ul style="list-style: none;">
            <p style="font-size:25px; font-weight:bold; margin:15px;">회원정보</p>

            <li><button type="button" onclick="getMyInfo()">회원정보변경</button></li>
            <li><button type="button" onclick="getMyHealth()">일일섭취 칼로리/<br>탄단지비율/<br>알러지정보 설정</button></li>
            <li><button type="button" onclick="getMyAddress()">배송지관리</button></li>
            <li><button>1:1문의내역</button></li>
            <li><button>나의상품문의</button></li>
            <li><button>나의상품후기</button></li>
            <!-- <li><a href="#" th:href="@{/mypage/mypost}" class="change">나의게시글</a></li> -->
            <li><button type="button" onclick="getMyPosts()">나의게시글</button></li>

          </ul>
        </div>
      </div>


      <div class="my-page-detail-container">
        <div class="my-page-detail" th:fragmet="mypagedetail">

          
        </div>
      </div>
    </div>
  </div>
<div style="clear:both"></div>
<input type="hidden" name="user_id" th:value="${#authentication.name}">


<script th:src="@{/js/mypage.js} "></script>

<div class="home-footer-container" th:replace="fragments/common :: foot"></div>
<script th:inline="javascript">
  /* 수빈 회원정보변경 추가 */
  function getMyInfo() {
  console.log("클릭")
  var link = /*[[@{mypage/userinfo(mid=${#authentication.name})}]]*/;
  
    /*<![CDATA[*/
    $.ajax({
      type: "GET",
      url: `${link}`
    })
    .done(function (result) {
      $('.my-page-detail').empty();
      $('.my-page-detail').html(result)
    })
    .fail(function (jqXHR) {
      console.log(jqXHR);
      console.log("에러");
    })
    .always(function () {
      console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
    })
    /*]]*/
  }

      /* 수빈 칼로리,알러지 추가 */
  function getMyHealth() {
    console.log("클릭")
    var link = /*[[@{mypage/health_info(mid=${#authentication.name})}]]*/;
      /*<![CDATA[*/
      $.ajax({
        type: "GET",
        url: `${link}`,
      })
        .done(function (result) {
          $('.my-page-detail').empty();
          $('.my-page-detail').html(result)
        })
        .fail(function (jqXHR) {
          console.log(jqXHR);
          console.log("에러");
        })
        .always(function () {
          console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
        })
      /*]]*/
    }

    /* 수빈 배송지 추가 */
  function getMyAddress() {
    console.log("클릭")
    var link = /*[[@{mypage/address(mid=${#authentication.name})}]]*/;
    
      /*<![CDATA[*/
      $.ajax({
        type: "GET",
        url: `${link}`,
      })
        .done(function (result) {
          $('.my-page-detail').empty();
          $('.my-page-detail').html(result)
        })
        .fail(function (jqXHR) {
          console.log(jqXHR);
          console.log("에러");
        })
        .always(function () {
          console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
        })
      /*]]*/
    }

</script>
</body>

</html>