<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/pointPage.css}">
  <link th:href="@{/stylekmj.css}" rel="stylesheet" />
  <title>적립금페이지</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <!-- fragment 추가 -->
  <div class="home-container" th:replace="fragments/common :: nav"></div>
  <div class="home-container" th:replace="mypage/mypage :: mypageTop"></div>
  <div class="home-container" th:replace="mypage/mypage :: sidebar"></div>  
  <div id="container" style="margin: 20px 0 20px 130px;">
    <div class="point-list-wrap">
      <div class="point-list-box">
        <!-- 타이틀 -->
        <div class="titleBox">
          <span class="titleText">
            적립금
          </span>
          <span class="titleSub">
            보유하고 계신 적립금의 내역을 한 눈에 확인 하실 수 있습니다.
          </span>
        </div>
        <!-- 적립금목록 -->
        <div class="list-content-area">
          <div class="current-point-wrap">
            <div class="current-point-box">
              <span class="current-point-txt">현재 적립금</span>
              <strong class="point">0<span class="won"> 원</span></strong>
            </div>
          </div>
          <div class="point-detail-title">
            <div class="point-date">날짜</div>
            <div class="point-content">내용</div>
            <div class="point-price">금액</div>
          </div>
          <main class="point-main">
            <ul class="point-list">
              <li class="point-items">
                <div class="point-date-box">
                  <span class="point-txt">2022-10-13</span>
                </div>
                <div class="point-content-box">
                  <span class="point-txt">주간 베스트 적립금</span>
                </div>
                <div class="point-price-box">
                  <span class="point-txt"><strong>3000</strong><span class="won"> 원</span></span>
                </div>    
              </li>
              <li class="point-items">
                <div class="point-date-box">
                  <span class="point-txt">2022-08-20</span>
                </div>
                <div class="point-content-box">
                  <span class="point-txt"> 후기쓰기완료 적립</span>
                </div>
                <div class="point-price-box">
                  <span class="point-txt"><strong>1000</strong><span class="won"> 원</span></span>
                </div>    
              </li>
              <li class="point-items">
                <div class="point-date-box">
                  <span class="point-txt">2022-08-13</span>
                </div>
                <div class="point-content-box">
                  <span class="point-txt">첫구매 적립금</span>
                </div>
                <div class="point-price-box">
                  <span class="point-txt"><strong>3000</strong><span class="won"> 원</span></span>
                </div>    
              </li>
              <li class="point-items">
                <div class="point-date-box">
                  <span class="point-txt">2022-07-01</span>
                </div>
                <div class="point-content-box">
                  <span class="point-txt">회원가입 축하 적립금</span>
                </div>
                <div class="point-price-box">
                  <span class="point-txt"><strong>5000</strong><span class="won"> 원</span></span>
                </div>    
              </li>
            </ul>
          </main>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <!-- fragment 추가 -->
  <div class="home-footer-container" th:replace="fragments/common :: foot"></div>
  <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
</body>
</html>